.form-group{
    margin-top: 5%;
}
.btn{
    border-radius: 20px;
    color: #000000;
}

.container-fluid{
    width: 80%;
}

.image_addmenu{
    background-color: #FFC7EA;
    border-radius: 30px; 
    padding: 30px; 
    height: 60%;
}

label{
    font-size: medium;
}

.buttonback1{
    background-color: #d02626; 
    border-radius: 57px;
}

.buttonsummit{
    border-radius: 57px;
    background: #FF3FA4;
}

.round-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}
