h2{
    margin-top: 5%;
    background-color: rgb(255, 180, 227);
    border-radius: 40px;
    padding: 2%;
}
html,
body,
.intro {
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.card {
  border-radius: .5rem;
}

.btn {
  border-radius: 20px;
}

td {
  border-radius: 20px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

table {
  border-collapse: separate;
  border-spacing: 20px;
}

tbody tr:nth-child(odd) {
  background-color: #FFC7EA;
}

tbody tr:nth-child(even) {
  background-color: #FF3FA4;
}

.btn_order {
  /* width: 20%; */
  height: 90%;
  border-radius: 57px;
  background: #FF3FA4;
  color: rgb(255, 255, 255);
}

.btn_listmenu {
  /* width: 40%; */
  height: 90%;
  border-radius: 57px;
  background: #FF3FA4;
  color: rgb(255, 255, 255);
  margin-right: 20px;
}

@media (max-width: 464px) {
  .btn_order {
    width: 20%;
    height: 90%;
    border-radius: 57px;
    background: #FF3FA4;
    color: rgb(255, 255, 255);
  }

  .btn_listmenu {
    width: 40%;
    height: 90%;
    border-radius: 57px;
    background: #FF3FA4;
    color: rgb(169, 0, 0);
    margin-right: 20px;
  }
}
