<div class="container text-center">
    <h2>statustable works!</h2>
    <div class="row justify-content-center pt-5">
        <div class="col-12">
            <div class="card shadow-2-strong">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">TABLE</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">DETAILS</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of table let i = index;">
                                <td>{{ item.tables_id }}</td>
                                <td>
                                    <button type="button" class="btn btn-sm px-3"
                                        [ngClass]="{'btn-danger': item.status.status_name === 'busy', 'btn-success': item.status.status_name === 'empty'}">
                                        {{ item.status.status_name }}
                                    </button>
                                </td>
                                <td>
                                    <a (click)="nagivateToAdminCheckbill(item.tables_id)" type="button" class="btn btn-light btn-sm px-3">
                                        <i class="fa-solid fa-eye fa-lg" style="color: #000000;"></i> ดูรายละเอียด
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

