<div class="container text-center">
    <h2>statustable works!</h2>
    <div class="row justify-content-center pt-5">
        <div class="col-12">
            <div class="card shadow-2-strong">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-borderless mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">TABLE</th>
                                    <th scope="col">TOTAL</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">DETAILS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>3</td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm px-3">
                                            ใช้งานอยู่
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm px-3">
                                            <i class="fa-solid fa-eye fa-lg" style="color: #000000;"></i> ดูรายละเอียด
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>54</td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-sm px-3">
                                            พร้อมชำระ
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm px-3">
                                            <i class="fa-solid fa-eye fa-lg" style="color: #000000;"></i> ดูรายละเอียด
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>50</td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm px-3">
                                            ว่าง
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm px-3">
                                            <i class="fa-solid fa-eye fa-lg" style="color: #000000;"></i> ดูรายละเอียด
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>10</td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm px-3">
                                            ว่าง
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm px-3">
                                            <i class="fa-solid fa-eye fa-lg" style="color: #000000;"></i> ดูรายละเอียด
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>300000</td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm px-3">
                                            ว่าง
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm px-3">
                                            <i class="fa-solid fa-eye fa-lg" style="color: #000000;"></i> ดูรายละเอียด
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>999+</td>
                                    <td> 
                                        <button type="button" class="btn btn-success btn-sm px-3">
                                            ว่าง
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-light btn-sm px-3">
                                            <i class="fa-solid fa-eye fa-lg" style="color: #000000;"></i> ดูรายละเอียด
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

