.form-group {
    margin-top: 5%;
}

.btn {
    border-radius: 20px;
    color: #000000;
}

.container-fluid {
    width: 80%;
}

.image_addmenu {
    background-color: #FFC7EA;
    border-radius: 30px;
    padding: 30px;
    height: 60%;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}



label {
    font-size: x-large;
}

.buttonaddmenu {
    background-color: #d05de2;
    border-radius: 20px;
    font-size: large;
}

.buttonback {
    background-color: #d02626;
    border-radius: 20px;
    font-size: large;
    margin-right: 65%;
}