<div class="container mt-5 pt-5">
    <div class="row align-items-center">
        <div class="col-3 mb-5">
            <button class="btn btn-secondary" style="width: 100%; height: 200px;">Table 1</button>
        </div>
        <div class="col-3 mb-5">
            <button class="btn btn-secondary" style="width: 100%; height: 200px;">Table 2</button>
        </div>
        <div class="col-3 mb-5">
            <button class="btn btn-secondary" style="width: 100%; height: 200px;">Table 3</button>
        </div>
        <div class="col-3 mb-5">
            <button class="btn btn-secondary" style="width: 100%; height: 200px;">Table 4</button>
        </div>
        <div class="col-3 mb-5">
            <button class="btn btn-secondary" style="width: 100%; height: 200px;">Table 5</button>
        </div>
        <div class="col-3 mb-5">
            <button class="btn btn-secondary" style="width: 100%; height: 200px;">Table 6</button>
        </div>
        <div class="col-3 mb-5">
            <button class="btn btn-secondary" style="width: 100%; height: 200px;">Table 7</button>
        </div>
        <div class="col-3 mb-5">
            <button class="btn btn-secondary" style="width: 100%; height: 200px;">Table 8</button>
        </div>
    </div>
</div>