.card_table {
    border-radius: 20px;
    border-color: black;
}

.card_order {
    border-color: none;
    border: none;
}

.btn {
    border-radius: 20px;
}

h6 {
    font-weight: bold;
}

.btn_checkbill {
    width: 20%;
    height: 90%;
    border-radius: 57px;
    background: #FF3FA4;
    color: rgb(255, 255, 255);
}