<div class="contrainer">
    <div class="text-center pt-5">
        <button class="btn" style="background-color:#FFC7EA; width: 80%; padding: 10px;">
            <h5>รายการอาหารทั้งหมด</h5>
        </button>
    </div>
    <div class="d-flex justify-content-center pt-5">
        <div class="card card_table" style="width: 600px;">
            <div class="card-body">
                <h5>Table checkout</h5>
                <hr>
                <div class="d-flex justify-content-between">
                    <h6>ยอดชำระสุทธิ</h6>
                    <h6>{{order.total_price}} บาท</h6>
                </div>
                <p class="text-center">*** ขอบคุณที่ใช้บริการ***</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center pt-5">
        <div class="card card_order" style="width: 600px;">
            <h5>Order</h5>
            <hr>
            <div class="row" style="margin-left: 15%;">
                <div class="col">
                    <h6>รายการ</h6>
                </div>
                <div class="col">
                    <h6>จำนวน</h6>
                </div>
                <div class="col">
                    <h6>ราคา</h6>
                </div>
            </div>
            <div *ngFor="let item of orderedFood; index as i;">
                <div class="row" style="margin-left: 15%;">
                    <div class="col">{{item.food.name}}</div>
                    <div class="col">{{item.amount}}</div>
                    <div class="col">{{item.food.price}} บาท</div>
                </div>
            </div>
            <div class="d-flex justify-content-end pt-5 pb-5">
                <button class="btn btn_checkbill">
                    <h6>ชำระเงิน</h6>
                </button>
            </div>
        </div>
    </div>
</div>