
body{
    font-family: 'Kanit', sans-serif;
}
h1 {
    font-weight: 700;
    /* Apply the 'Kanit' font weight 700 (bold) */
}

p {
    font-weight: 600;
    /* Apply the 'Kanit' font weight 600 (semi-bold) */
}
#header {
    background: #D8B4F8;
    transition: all 0.5s;
    z-index: 997;
    height: 80px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    font-weight: bolder;
}

#header.fixed-top {
    height: 70px;
}

#header .logo {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 1;
    letter-spacing: 0.8px;
    font-family: "Poppins", sans-serif;
}

#header .logo a {
    color: #ffffff;
}

#header .logo a span {
    color: #ffffff;
}

#header .logo img {
    max-height: 40px;
}

.scrolled-offset {
    margin-top: 70px;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}
 .fa-bowl-food{
    margin-right: 10px;
 }
.navbar li {
    position: relative;
    
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-size: 18px;
    color: #ffffff;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

/* .navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
} */

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #6a6a6a;
}
