<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<section class="intro">
    <div class="container">
        <div id="button"> 
            <a routerLink="/addmenu" type="button" class="btn" id="btn">
                <i class="fa-solid fa-circle-plus fa-lg"></i><b>เพิ่มเมนูใหม่</b>
            </a>    
        </div>
        <div class="text-center pt-5">
            <button class="btn" style="background-color:#FFC7EA; width: 100%; padding: 10px;">
                <h4><b>Menu</b></h4>
            </button>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-12">
                <div class="card shadow-2-strong">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">IMAGE</th>
                                        <th scope="col">MENU</th>
                                        <th scope="col">PRICE</th>
                                        <th scope="col">EDIT</th>
                                        <th scope="col">DELETE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="assets/img/menu/menu-item-1.png" width="50px" height="50px"
                                                alt="Image 1"></td>
                                        <td>System Architect</td>
                                        <td>61</td>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm px-3">
                                                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm px-3">
                                                <i class="fa-solid fa-trash fa-lg"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/img/menu/menu-item-1.png" width="50px" height="50px" alt="Image 1"></td>
                                        <td>System Architect</td>
                                        <td>61</td>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm px-3">
                                                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm px-3">
                                                <i class="fa-solid fa-trash fa-lg"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/img/menu/menu-item-1.png" width="50px" height="50px" alt="Image 1"></td>
                                        <td>System Architect</td>
                                        <td>61</td>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm px-3">
                                                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm px-3">
                                                <i class="fa-solid fa-trash fa-lg"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/img/menu/menu-item-1.png" width="50px" height="50px" alt="Image 1"></td>
                                        <td>System Architect</td>
                                        <td>61</td>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm px-3">
                                                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm px-3">
                                                <i class="fa-solid fa-trash fa-lg"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/img/menu/menu-item-1.png" width="50px" height="50px" alt="Image 1"></td>
                                        <td>System Architect</td>
                                        <td>61</td>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm px-3">
                                                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm px-3">
                                                <i class="fa-solid fa-trash fa-lg"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="assets/img/menu/menu-item-1.png" width="50px" height="50px" alt="Image 1"></td>
                                        <td>System Architect</td>
                                        <td>61</td>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm px-3">
                                                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #000000;"></i>
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-light btn-sm px-3">
                                                <i class="fa-solid fa-trash fa-lg"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>