h2{
    margin-top: 3%;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.button{
    text-align: end;
}

.btn{
    background-color: #FF3FA4; 
    border-radius: 20px;
    color: #ffffff;
}

i{
    color: #ffffff; 
    margin-right: 5px;
}

.container-fluid{
    background-color: rgb(255, 180, 227);
    width: 100%;
    height: 100%;

}
/* CSS สำหรับตาราง */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
    border: 1px solid #930909; /* กำหนดกรอบตาราง */
}

th, td {
    border: 1px solid #ccc; /* กำหนดกรอบสำหรับแต่ละเซลล์ */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2; /* สีพื้นหลังสำหรับหัวตาราง */
}