<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<section class="intro">
    <div class="container">
        <div class="text-center pt-5">
            <button class="btn" style="background-color:#FFC7EA; width: 100%; padding: 10px;">
                <h5>Order</h5>
            </button>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-12">

                <div class="card shadow-2-strong mb-3" *ngFor="let item of orderedFood; index as i;" >
                    <div class="card-body">
                        <div class="container">
                            <div
                                class="row px-3 mx-3 pt-2 d-flex justify-content-center align-items-center text-center">
                                <div class="col-4 col-md-4">
                                    <img [src]="item.food.picture" class="img_listmenu" alt="Image 1">
                                </div>
                                <div class="col-8 col-md-8 list_manu_data" >
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4> {{item.food.name}} </h4>
                                        <button type="button" class="btn btn-light btn-sm px-3" (click)="deleteOrderedFood(item._id)">
                                            <i class="fa-solid fa-trash fa-xl"></i>
                                        </button>
                                    </div>
                                    <div class="d-flex align-items-between justify-content-between mt-5">
                                        <h5>{{item.food.price}} บาท</h5>
                                        <div class="d-flex">
                                            <button type="button" class="btn btn-danger btn-sm px-3" (click)="updateOrderFood(item._id, 0)">
                                                <i class="fa-solid fa-minus"></i>
                                            </button>
                                            <h5 class="mx-3" style="background-color: white;"> {{item.amount}}</h5>
                                            <button type="button" class="btn btn-success btn-sm px-3" (click)="updateOrderFood(item._id, 1)">
                                                <i class="fa-solid fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group pt-5">
                                        <input type="text" class="form-control"
                                            style="width: 100%; border-radius: 10px; text-decoration: none;"
                                            placeholder="ความต้องการเพิ่มเติม">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="d-flex justify-content-end pt-5 pb-5">
            <a routerLink="/checkbill" class="btn btn_listmenu">
                <h6>รายการอาหารทั้งหมด</h6>
            </a>
            <a routerLink="/home" class="btn btn_order">
                <h6>สั่งอาหาร</h6>
            </a>
        </div>
    </div>
</section>