<div class="contrainer">
    <div class="text-center">
        <!-- <button class="btn" style="background-color:#FFC7EA; width: 80%; padding: 10px;">
            <h5>รายการอาหารทั้งหมด</h5>
        </button> -->
        <div class="section-header">
            <p>Check all <span>food items</span></p>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card card_table" style="width: 600px;">
            <div class="card-body">
                <h5>Table {{order.table_id}} checkout</h5>
                <hr>
                <div class="d-flex justify-content-between">
                    <h6>Total net price</h6>
                    <h6>${{order.total_price}}</h6>
                </div>
                <div class="text-center">
                    <small>*** Thank you for your purchase***</small><br>
                    <small>Please purchase the products at the cashier</small>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center pt-5 pb-5">
        <div class="card card_order" style="width: 600px;">
            <h5>Order</h5>
            <hr>
            <div class="row" style="margin-left: 15%;">
                <div class="col">
                    <h6>Menu</h6>
                </div>
                <div class="col">
                    <h6>Amount</h6>
                </div>
                <div class="col">
                    <h6>Price</h6>
                </div>
            </div>
            <div *ngFor="let item of order.order_food; let i = index;">
                <div class="row" style="margin-left: 15%;">
                    <div class="col">{{ item.food.name }}</div>
                    <div class="col">{{ item.amount }}</div>
                    <div class="col">{{ item.food.price | currency:'USD':'symbol':'1.2-2' }}</div>
                </div>
            </div>
            <div class="d-flex justify-content-end pt-5 pb-5">
                <button class="btn btn_checkbill" (click)="insertPayment(order.table_id)">
                    <h6>ชำระเงิน</h6>
                </button>
            </div>
        </div>
    </div>
</div>
