<div class="contrainer">
    <div class="text-center pt-5">
        <button class="btn" style="background-color:#FFC7EA; width: 80%; padding: 10px;">
            <h5>รายการอาหารทั้งหมด</h5>
        </button>
    </div>
    <div class="d-flex justify-content-center pt-5">
        <div class="card card_table" style="width: 600px;">
            <div class="card-body">
                <h5>Table 12 checkout</h5>
                <hr>
                <div class="d-flex justify-content-between">
                    <h6>ยอดชำระสุทธิ</h6>
                    <h6>130000.00</h6>
                </div>
                <p class="text-center">*** ขอบคุณที่ใช้บริการ***</p>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center pt-5">
        <div class="card card_order" style="width: 600px;">
            <h5>Order</h5>
            <hr>
            <div class="d-flex justify-content-between">
                <h6>เวลา</h6>
                <h6>รายการ</h6>
                <h6>จำนวน</h6>
                <h6>ราคา</h6>
            </div>
            <div class="d-flex justify-content-between">
                <p>7.45 PM</p>
                <p>สปาเกตตี้ขี้เมา</p>
                <p>1</p>
                <p>90 บ.</p>
            </div>
            <div class="d-flex justify-content-between">
                <p>7.45 PM</p>
                <p>สปาเกตตี้ขี้เมา</p>
                <p>1</p>
                <p>90 บ.</p>
            </div>
            <div class="d-flex justify-content-between">
                <p>7.45 PM</p>
                <p>สปาเกตตี้ขี้เมา</p>
                <p>1</p>
                <p>90 บ.</p>
            </div>
            <div class="d-flex justify-content-end pt-5 pb-5">
                <a href="/statustable" class="btn btn_checkbill">
                    <h6>ชำระเงิน</h6>
                </a>
            </div>
        </div>
    </div>
</div>